@keyframes position2{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position3{
    0% {transform: translate(342px, 411px);}
    100%{transform: translate(251px, 461px);}
}
@keyframes position4{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}

@keyframes position5{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position6{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position7{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position8{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position9{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position10{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position11{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position12{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position13{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position14{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position15{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position16{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position17{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position18{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position19{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position20{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position21{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position22{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position23{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position24{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position25{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position26{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position27{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position28{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position29{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}
@keyframes position30{
    0% {transform: translate(435px, 441px);}
    50%{transform: translate(378px, 402px);}
    100%{transform: translate(342px, 411px);}
}





















