.overlay{
    display: none;
    position: absolute;
    top:  0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 20;
    opacity: 0.0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.overlay .window{
    position: fixed;
    top: -48%;
    left: 33%;
    width: 523px;
    height: 455px;
    background: -o-radial-gradient(#c3894b , #9f6c35);
    background: radial-gradient(#c3894b , #9f6c35);
    border: solid 5px #875c2d;
    border-radius: 20px;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;

}
.overlay .window .list{
    position: relative;
    width: 264px;
    height: 33px;
    border: 2px ridge #61bfcc;
    border-radius: 20px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    text-align: center;
    font-family: 'a_stamper-bold', Arial;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #ffff;
    -webkit-transform: translate(125px, -17px);
        -ms-transform: translate(125px, -17px);
            transform: translate(125px, -17px);
}
.overlay .window .out{
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px ridge #61bfcc;
    border-radius: 5px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce,  #105a66 );
    background: linear-gradient(to top, #105a66, #20b5ce,  #105a66 );
    -webkit-transform: translate(482px, -30px);
        -ms-transform: translate(482px, -30px);
            transform: translate(482px, -30px);

}
.overlay .window .out::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 6px;
    height: 18px;
    background-color: white;
    margin-top: 5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.overlay .window .out::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 6px;
    height: 18px;
    background-color: white;
    margin-top: -18px;
    -webkit-transform: rotate(136deg);
        -ms-transform: rotate(136deg);
            transform: rotate(136deg);
}
.overlay .window .list_raiting{
    width: 464px;
    height: 324px;
    margin: 0 auto;
    background-color:#8c5a31;
    margin-top: 25px;
    border-radius: 23px;
    padding-top: 17px;
}
.overlay .window .list_raiting .list_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 403px;
    height: 29px;
    margin: 0 auto;
    border: 1px ridge #61bfcc;
    border-radius: 20px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );

}
.overlay .window .list_raiting .list_title p{
    text-align: center;
    font-family: 'a_stamper-bold', Arial;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffff;
    margin: auto;
}
.overlay .window .list_raiting .list_dirs {
    list-style-type: none;
    padding-left: 0;
}
.overlay .window .list_raiting .list_dirs li {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 403px;
    height: 29px;
    margin: 0 auto;
    border: 1px ridge #61bfcc;
    border-radius: 20px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    margin-top: 6px;
}
.overlay .window .list_raiting .list_dirs .place {
    width: 55px;
    height: 29px;
    border:none;
    outline: none;
    background: none;
    font-family: 'a_stamper-bold', Arial;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ffff;
}
.overlay .window .list_raiting .list_dirs .icon{
    width: 25px;
    height: 25px;
    background: -o-linear-gradient(bottom,#bf4b15,#893a12, #bf4b15);
    background: linear-gradient(to top,#bf4b15,#893a12, #bf4b15);
    border: 1px ridge #bf4b15;
    border-radius: 5px;
}
.overlay .window .list_raiting .list_dirs .icon .male{
    width: 25px;
}
.overlay .window .list_raiting .list_dirs .d {
    width: 200px;
    height: 29px;
    border:none;
    outline: none;
    background: none;
    font-family: 'a_stamper-bold', Arial;
    font-size: 14px;
    font-weight: 700;
    color: #ffff;
    text-align: left;
}


@-webkit-keyframes window{
    0% {top: -48%;}
    100% {top: 29%}
}


@keyframes window{
    0% {top: -48%;}
    100% {top: 29%}
}
@-webkit-keyframes overlay{
    0% {opacity: 0.0;}
    100% {opacity: 1.0} ;
}
@keyframes overlay{
    0% {opacity: 0.0;}
    100% {opacity: 1.0} ;
}
@-webkit-keyframes windowr{
    0% {top: 29%;}
    100% {top: -48%}
}
@keyframes windowr{
    0% {top: 29%;}
    100% {top: -48%}
}
@-webkit-keyframes overlayr{
    0% {opacity: 1.0;}
    100% {opacity: 0.0;} ;
}
@keyframes overlayr{
    0% {opacity: 1.0;}
    100% {opacity: 0.0;} ;
}