.panel{
    width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-transform: translate(10px, -40px);
        -ms-transform: translate(10px, -40px);
            transform: translate(10px, -40px);
}
.panel .slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 536px;
    height: 63px;
    border: 5px ridge #61bfcc;
    border-radius: 20px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    -webkit-box-shadow: 0px 0px 7px black;
            box-shadow: 0px 0px 7px black;
     
    

}
.panel .slider .s {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 55px;
    margin-top: 3px;
    overflow: hidden;  
}
.panel .slider .s  .slider_content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:  972px;
    height: 55px;
    margin-top: 3px;
    left: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
    
}
.panel .slider  .no{
    display: none;
}
.panel .slider  .slider_content .dirs{
    width: 50px;
    height: 50px;
    background: -o-linear-gradient(bottom,#bf4b15,#893a12, #bf4b15);
    background: linear-gradient(to top,#bf4b15,#893a12, #bf4b15);
    border: 2px ridge #bf4b15;
    border-radius: 5px;
    margin-right: 15px;
    
}

.panel .slider .slider_content .dirs .plus{
    position: absolute;
    width: 15px;
    height: 15px;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    border: 2px ridge #61bfcc;
    border-radius: 5px;
    -webkit-transform: translate(37px, -6px);
        -ms-transform: translate(37px, -6px);
            transform: translate(37px, -6px);
    opacity: 0.0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.panel .slider .slider_content .dirs .plus::before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 8px;
    background-color: white;
    margin-top: 3px;
}
.panel .slider .slider_content .dirs .plus::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 8px;
    height: 2px;
    background-color: white;
    -webkit-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
   
}
.panel .slider .slider_content .dirs img{
    display: block;
    margin: 0 auto ;
    width: 33px;
    margin-top: 6px;

}
.panel .slider .arrows{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.panel .chat{
    width: 72px;
    height: 72px;
    border: 5px ridge #61bfcc;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px black;
            box-shadow: 0px 0px 7px black
}
.panel .chat img{
    display: block;
    margin:  0 auto;
    width: 51px;
    padding-bottom: 2px;
}
.panel .univer{
    width: 202px;
    height: 72px;
    border: 5px ridge #bf4b15;
    border-radius: 20px;
    outline: none;
    background: -o-linear-gradient(bottom,#bf4b15,#893a12, #bf4b15);
    background: linear-gradient(to top,#bf4b15,#893a12, #bf4b15);
    font-family: 'a_stamper-bold', Arial;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #ffff;
    cursor: pointer;
    text-shadow: -1px 2px 5px black;
}
.panel .mail{
    width: 72px;
    height: 72px;
    border: 5px ridge #2f7b6d;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px black;
            box-shadow: 0px 0px 7px black
}
.panel .mail img{
    display: block;
    margin:  0 auto;
    width: 51px;
    padding-bottom: 2px;
}
.panel .rating{
    width: 72px;
    height: 72px;
    border: 5px ridge #2f7b6d;
    background: -o-linear-gradient(bottom, #105a66, #20b5ce );
    background: linear-gradient(to top, #105a66, #20b5ce );
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px black;
            box-shadow: 0px 0px 7px black
}
.panel .rating img{
    display: block;
    margin:  0 auto;
    width: 51px;
    padding-bottom: 5px;
}
