body {
    position: relative;
    min-height: 1000px;
    min-width: 1000px;
    background: -o-linear-gradient(bottom, #006b60,#149484);
    background: linear-gradient(to top, #006b60,#149484);
}
.map{
    position: relative;    
    margin: 0 auto;
    background: url('../image/map.png') center center/cover no-repeat;
    height: 605px;
    width: 980px;
}
.map .ladder{
    display: block;
    position: absolute;
    -webkit-transform: translate(389px, 453px);
        -ms-transform: translate(389px, 453px);
            transform: translate(389px, 453px);
}
.map .flower{
    display: block;
    position: absolute;
    -webkit-transform: translate(362px, 470px);
        -ms-transform: translate(362px, 470px);
            transform: translate(362px, 470px);
}
.map .way{
    display: block;
    position: absolute;
    -webkit-transform: translate(80px, 21px);
        -ms-transform: translate(80px, 21px);
            transform: translate(80px, 21px);
}
.map .button{
    position: relative;
    margin: 0 auto;
}
.map .button .button_noactive{
    width: 39px;
    height: 30px;
    background:url('../icons/button.png') center center/cover no-repeat;
    background-size: 21px 17px;
    position: absolute;
    outline: none;
    border: none;
    -webkit-transform: translate(426px, 491px);
        -ms-transform: translate(426px, 491px);
            transform: translate(426px, 491px);
}
.map .button .position1{
    background:url('../icons/red.png') center center/cover no-repeat;
    background-size: 38px 34px;
}
.map .button .position2{
    
    -webkit-transform: translate(334px, 463px);
    
        -ms-transform: translate(334px, 463px);
    
            transform: translate(334px, 463px);
}
.map .button .position3{
    
    -webkit-transform: translate(245px, 514px);
    
        -ms-transform: translate(245px, 514px);
    
            transform: translate(245px, 514px);
}
.map .button .position4{

    -webkit-transform: translate(169px, 524px);

        -ms-transform: translate(169px, 524px);

            transform: translate(169px, 524px);
    
}
.map .button .position5{
    
    -webkit-transform: translate(91px, 493px);
    
        -ms-transform: translate(91px, 493px);
    
            transform: translate(91px, 493px);
}
.map .button .position6{

    -webkit-transform: translate(119px, 377px);

        -ms-transform: translate(119px, 377px);

            transform: translate(119px, 377px);
    
}
.map .button .position7{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    -webkit-transform: translate(106px, 430px);

        -ms-transform: translate(106px, 430px);

            transform: translate(106px, 430px);

    
}
.map .button .position8{

-webkit-transform: translate(210px, 331px);

    -ms-transform: translate(210px, 331px);

        transform: translate(210px, 331px);
}
.map .button .position9{

    -webkit-transform: translate(162px, 268px);

        -ms-transform: translate(162px, 268px);

            transform: translate(162px, 268px);
}
.map .button .position10{
    
    -webkit-transform: translate(115px, 216px);
    
        -ms-transform: translate(115px, 216px);
    
            transform: translate(115px, 216px);
}
.map .button .position11{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    -webkit-transform: translate(183px, 183px);
        -ms-transform: translate(183px, 183px);
            transform: translate(183px, 183px);
    
}
.map .button .position12{

    -webkit-transform: translate(240px, 229px);

        -ms-transform: translate(240px, 229px);

            transform: translate(240px, 229px);
    
}
.map .button .position13{

    -webkit-transform: translate(282px, 197px);

        -ms-transform: translate(282px, 197px);

            transform: translate(282px, 197px);
    
}
.map .button .position14{

    -webkit-transform: translate(312px, 143px);

        -ms-transform: translate(312px, 143px);

            transform: translate(312px, 143px);
    
}
.map .button .position15{

    -webkit-transform: translate(359px, 89px);

        -ms-transform: translate(359px, 89px);

            transform: translate(359px, 89px);
}
.map .button .position16{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    -webkit-transform: translate(402px, 27px);
        -ms-transform: translate(402px, 27px);
            transform: translate(402px, 27px);
    
}
.map .button .position17{

    -webkit-transform: translate(486px, 63px);

        -ms-transform: translate(486px, 63px);

            transform: translate(486px, 63px);
    
}
.map .button .position18{

    -webkit-transform: translate(449px, 135px);

        -ms-transform: translate(449px, 135px);

            transform: translate(449px, 135px);
    
}
.map .button .position19{

    -webkit-transform: translate(478px, 200px);

        -ms-transform: translate(478px, 200px);

            transform: translate(478px, 200px);
    
}
.map .button .position20{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    -webkit-transform: translate(437px, 292px);

        -ms-transform: translate(437px, 292px);

            transform: translate(437px, 292px);
}
.map .button .position21{

    -webkit-transform: translate(371px, 334px);

        -ms-transform: translate(371px, 334px);

            transform: translate(371px, 334px);
}
.map .button .position22{

    -webkit-transform: translate(353px, 392px);

        -ms-transform: translate(353px, 392px);

            transform: translate(353px, 392px);
}
.map .button .position23{

    -webkit-transform: translate(437px, 415px);

        -ms-transform: translate(437px, 415px);

            transform: translate(437px, 415px);
}
.map .button .position24{

    -webkit-transform: translate(501px, 449px);

        -ms-transform: translate(501px, 449px);

            transform: translate(501px, 449px);
}
.map .button .position25{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    -webkit-transform: translate(609px, 482px);

        -ms-transform: translate(609px, 482px);

            transform: translate(609px, 482px);
}
.map .button .position26{

    -webkit-transform: translate(703px, 508px);

        -ms-transform: translate(703px, 508px);

            transform: translate(703px, 508px);
}
.map .button .position27{

    -webkit-transform: translate(795px, 457px);

        -ms-transform: translate(795px, 457px);

            transform: translate(795px, 457px);
}
.map .button .position28{

    -webkit-transform: translate(873px, 408px);

        -ms-transform: translate(873px, 408px);

            transform: translate(873px, 408px);
}
.map .button .position29{

    -webkit-transform: translate(942px, 362px);

        -ms-transform: translate(942px, 362px);

            transform: translate(942px, 362px);
}
.map .button .position30{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    -webkit-transform: translate(943px, 300px);

        -ms-transform: translate(943px, 300px);

            transform: translate(943px, 300px);
    
}
.map .button .position31{

    -webkit-transform: translate(871px, 280px);

        -ms-transform: translate(871px, 280px);

            transform: translate(871px, 280px);
    
}
.map .button .position32{

    -webkit-transform: translate(830px, 309px);

        -ms-transform: translate(830px, 309px);

            transform: translate(830px, 309px);
    
}
.map .button .position33{

    -webkit-transform: translate(771px, 344px);

        -ms-transform: translate(771px, 344px);

            transform: translate(771px, 344px);
    
}
.map .button .position34{

    -webkit-transform: translate(696px, 333px);

        -ms-transform: translate(696px, 333px);

            transform: translate(696px, 333px);
    
}
.map .button .position35{

    -webkit-transform: translate(703px, 284px);

        -ms-transform: translate(703px, 284px);

            transform: translate(703px, 284px);
    
}
.map .button .position36{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    -webkit-transform: translate(783px, 242px);

        -ms-transform: translate(783px, 242px);

            transform: translate(783px, 242px);
    
}
.map .button .position37{

    -webkit-transform: translate(786px, 175px);

        -ms-transform: translate(786px, 175px);

            transform: translate(786px, 175px);
    
}
.map .button .position38{

    -webkit-transform: translate(723px, 170px);

        -ms-transform: translate(723px, 170px);

            transform: translate(723px, 170px);
    
}
.map .button .position39{

    -webkit-transform: translate(619px, 223px);

        -ms-transform: translate(619px, 223px);

            transform: translate(619px, 223px);
    
}
.map .button .position40{

    -webkit-transform: translate(607px, 260px);

        -ms-transform: translate(607px, 260px);

            transform: translate(607px, 260px);
}
.map .button .position41{

    
    -webkit-transform: translate(568px, 289px);

    
        -ms-transform: translate(568px, 289px);

    
            transform: translate(568px, 289px);
}
.map .button .position42{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    -webkit-transform: translate(511px, 280px);
        -ms-transform: translate(511px, 280px);
            transform: translate(511px, 280px);
}
.map .button .position43{

    -webkit-transform: translate(502px, 195px);

        -ms-transform: translate(502px, 195px);

            transform: translate(502px, 195px);
}
.map .button .position44{

    -webkit-transform: translate(532px, 154px);

        -ms-transform: translate(532px, 154px);

            transform: translate(532px, 154px);
}
.map .button .position45{

    -webkit-transform: translate(573px, 127px);

        -ms-transform: translate(573px, 127px);

            transform: translate(573px, 127px);
}
.map .button .position46{

    -webkit-transform: translate(601px, 74px);

        -ms-transform: translate(601px, 74px);

            transform: translate(601px, 74px);
}
.map .button .position47{
     background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    -webkit-transform: translate(636px, 16px);
        -ms-transform: translate(636px, 16px);
            transform: translate(636px, 16px);
}
.map .button .position48{

    -webkit-transform: translate(683px, 50px);

        -ms-transform: translate(683px, 50px);

            transform: translate(683px, 50px);
}
.map .button .position49{

    -webkit-transform: translate(657px, 124px);

        -ms-transform: translate(657px, 124px);

            transform: translate(657px, 124px);
}
.map .button .position50{

    -webkit-transform: translate(742px, 70px);

        -ms-transform: translate(742px, 70px);

            transform: translate(742px, 70px);
}
.map .button .position51{

    -webkit-transform: translate(806px, 126px);

        -ms-transform: translate(806px, 126px);

            transform: translate(806px, 126px);
}
.map .button .position52{

    -webkit-transform: translate(862px, 92px);

        -ms-transform: translate(862px, 92px);

            transform: translate(862px, 92px);
}
.map .button .position53{
    background:url('../icons/blue.png') center center/cover no-repeat;
    background-size: 37px 36px;
    -webkit-transform: translate(867px, 159px);
        -ms-transform: translate(867px, 159px);
            transform: translate(867px, 159px);
}
.map .button .male{
    position: absolute;
    z-index: 1;
    -webkit-transform: translate(435px, 441px);
        -ms-transform: translate(435px, 441px);
            transform: translate(435px, 441px);
    top: 0px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-animation: animation 20s linear paused forwards;
            animation: animation 20s linear paused forwards;
}
.map .button .first{
    position: absolute;
    width: 161px;
    font-family: 'a_stamper-bold', Arial;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: red;
    -webkit-transform: translate(362px, 495px) rotateX(45deg) rotate(-37deg);
            transform: translate(362px, 495px) rotateX(45deg) rotate(-37deg);
    
}
.map .button .blue{
    color:#377895;
    -webkit-transform: translate(835px, 145px) rotateX(45deg) rotate(-37deg);
            transform: translate(835px, 145px) rotateX(45deg) rotate(-37deg);
}
    
@-webkit-keyframes animation{
    0%{ -webkit-transform: translate(435px, 441px); transform: translate(435px, 441px);}
    2%{-webkit-transform: translate(343px, 414px);transform: translate(343px, 414px);}
    4%{-webkit-transform: translate(253px, 464px);transform: translate(253px, 464px);}
    6%{-webkit-transform: translate(178px, 472px);transform: translate(178px, 472px);}
    8%{-webkit-transform: translate(98px, 442px);transform: translate(98px, 442px);}
    10%{-webkit-transform: translate(115px, 381px);transform: translate(115px, 381px);}
    12%{-webkit-transform: translate(125px, 321px);transform: translate(125px, 321px);}
    14%{ -webkit-transform: translate(215px, 281px); transform: translate(215px, 281px)}
    16%{-webkit-transform: translate(169px, 215px);transform: translate(169px, 215px);}
    18%{-webkit-transform: translate(124px, 165px);transform: translate(124px, 165px)}
    20%{-webkit-transform: translate(192px, 135px);transform: translate(192px, 135px);}
    22%{-webkit-transform: translate(248px, 175px);transform: translate(248px, 175px);}
    24%{-webkit-transform: translate(248px, 175px);transform: translate(248px, 175px);}
    26%{-webkit-transform: translate(320px, 95px);transform: translate(320px, 95px);}
    28%{-webkit-transform: translate(320px, 95px);transform: translate(320px, 95px);}
    30%{ -webkit-transform: translate(367px, 35px); transform: translate(367px, 35px);}
    32%{-webkit-transform: translate(412px, 0px);transform: translate(412px, 0px);}
    34%{-webkit-transform: translate(494px, 11px);transform: translate(494px, 11px);}
    36%{-webkit-transform: translate(457px, 84px);transform: translate(457px, 84px);}
    38%{-webkit-transform: translate(487px, 149px);transform: translate(487px, 149px);}
    40%{-webkit-transform: translate(447px, 239px);transform: translate(447px, 239px);}
    42%{-webkit-transform: translate(379px, 283px);transform: translate(379px, 283px);}
    44%{ -webkit-transform: translate(361px, 344px); transform: translate(361px, 344px);}
    46%{-webkit-transform: translate(446px, 364px);transform: translate(446px, 364px);}
    48%{-webkit-transform: translate(510px, 396px);transform: translate(510px, 396px);}
    50%{  -webkit-transform: translate(618px, 430px);  transform: translate(618px, 430px);}
    53%{-webkit-transform: translate(711px, 458px);transform: translate(711px, 458px);}
    56%{  -webkit-transform: translate(804px, 403px);  transform: translate(804px, 403px);}
    59%{-webkit-transform: translate(882px, 353px);transform: translate(882px, 353px);}
    60%{ -webkit-transform: translate(950px, 313px); transform: translate(950px, 313px);}
    61%{-webkit-transform: translate(952px, 253px);transform: translate(952px, 253px)}
    62%{-webkit-transform: translate(880px, 231px);transform: translate(880px, 231px);}
    63%{-webkit-transform: translate(839px, 261px);transform: translate(839px, 261px);}
    64%{-webkit-transform: translate(780px, 291px);transform: translate(780px, 291px);}
    65%{-webkit-transform: translate(704px, 283px);transform: translate(704px, 283px);}
    66%{-webkit-transform: translate(711px, 233px);transform: translate(711px, 233px);}
    67%{-webkit-transform: translate(791px, 193px);transform: translate(791px, 193px);}
    68%{-webkit-transform: translate(794px, 123px);transform: translate(794px, 123px);}
    69%{-webkit-transform: translate(731px, 116px);transform: translate(731px, 116px);}
    72%{-webkit-transform: translate(628px, 172px);transform: translate(628px, 172px);}
    74%{-webkit-transform: translate(615px, 212px);transform: translate(615px, 212px);}
    76%{ -webkit-transform: translate(575px, 235px); transform: translate(575px, 235px);}
    78%{  -webkit-transform: translate(575px, 235px);  transform: translate(575px, 235px);}
    80%{-webkit-transform: translate(511px, 142px);transform: translate(511px, 142px)}
    82%{ -webkit-transform: translate(541px, 102px); transform: translate(541px, 102px);}
    84%{-webkit-transform: translate(583px, 75px);transform: translate(583px, 75px);}
    86%{-webkit-transform: translate(610px, 25px);transform: translate(610px, 25px);}
    88%{-webkit-transform: translate(645px, 0px);transform: translate(645px, 0px);}
    90%{-webkit-transform: translate(692px, 0px);transform: translate(692px, 0px);}
    92%{-webkit-transform: translate(666px, 70px);transform: translate(666px, 70px);}
    94%{ -webkit-transform: translate(750px, 20px); transform: translate(750px, 20px);}
    96%{-webkit-transform: translate(815px, 74px);transform: translate(815px, 74px);}
    98%{-webkit-transform: translate(870px, 44px);transform: translate(870px, 44px);}
    100%{-webkit-transform: translate(876px, 107px);transform: translate(876px, 107px);}
}
    
@keyframes animation{
    0%{ -webkit-transform: translate(435px, 441px); transform: translate(435px, 441px);}
    2%{-webkit-transform: translate(343px, 414px);transform: translate(343px, 414px);}
    4%{-webkit-transform: translate(253px, 464px);transform: translate(253px, 464px);}
    6%{-webkit-transform: translate(178px, 472px);transform: translate(178px, 472px);}
    8%{-webkit-transform: translate(98px, 442px);transform: translate(98px, 442px);}
    10%{-webkit-transform: translate(115px, 381px);transform: translate(115px, 381px);}
    12%{-webkit-transform: translate(125px, 321px);transform: translate(125px, 321px);}
    14%{ -webkit-transform: translate(215px, 281px); transform: translate(215px, 281px)}
    16%{-webkit-transform: translate(169px, 215px);transform: translate(169px, 215px);}
    18%{-webkit-transform: translate(124px, 165px);transform: translate(124px, 165px)}
    20%{-webkit-transform: translate(192px, 135px);transform: translate(192px, 135px);}
    22%{-webkit-transform: translate(248px, 175px);transform: translate(248px, 175px);}
    24%{-webkit-transform: translate(248px, 175px);transform: translate(248px, 175px);}
    26%{-webkit-transform: translate(320px, 95px);transform: translate(320px, 95px);}
    28%{-webkit-transform: translate(320px, 95px);transform: translate(320px, 95px);}
    30%{ -webkit-transform: translate(367px, 35px); transform: translate(367px, 35px);}
    32%{-webkit-transform: translate(412px, 0px);transform: translate(412px, 0px);}
    34%{-webkit-transform: translate(494px, 11px);transform: translate(494px, 11px);}
    36%{-webkit-transform: translate(457px, 84px);transform: translate(457px, 84px);}
    38%{-webkit-transform: translate(487px, 149px);transform: translate(487px, 149px);}
    40%{-webkit-transform: translate(447px, 239px);transform: translate(447px, 239px);}
    42%{-webkit-transform: translate(379px, 283px);transform: translate(379px, 283px);}
    44%{ -webkit-transform: translate(361px, 344px); transform: translate(361px, 344px);}
    46%{-webkit-transform: translate(446px, 364px);transform: translate(446px, 364px);}
    48%{-webkit-transform: translate(510px, 396px);transform: translate(510px, 396px);}
    50%{  -webkit-transform: translate(618px, 430px);  transform: translate(618px, 430px);}
    53%{-webkit-transform: translate(711px, 458px);transform: translate(711px, 458px);}
    56%{  -webkit-transform: translate(804px, 403px);  transform: translate(804px, 403px);}
    59%{-webkit-transform: translate(882px, 353px);transform: translate(882px, 353px);}
    60%{ -webkit-transform: translate(950px, 313px); transform: translate(950px, 313px);}
    61%{-webkit-transform: translate(952px, 253px);transform: translate(952px, 253px)}
    62%{-webkit-transform: translate(880px, 231px);transform: translate(880px, 231px);}
    63%{-webkit-transform: translate(839px, 261px);transform: translate(839px, 261px);}
    64%{-webkit-transform: translate(780px, 291px);transform: translate(780px, 291px);}
    65%{-webkit-transform: translate(704px, 283px);transform: translate(704px, 283px);}
    66%{-webkit-transform: translate(711px, 233px);transform: translate(711px, 233px);}
    67%{-webkit-transform: translate(791px, 193px);transform: translate(791px, 193px);}
    68%{-webkit-transform: translate(794px, 123px);transform: translate(794px, 123px);}
    69%{-webkit-transform: translate(731px, 116px);transform: translate(731px, 116px);}
    72%{-webkit-transform: translate(628px, 172px);transform: translate(628px, 172px);}
    74%{-webkit-transform: translate(615px, 212px);transform: translate(615px, 212px);}
    76%{ -webkit-transform: translate(575px, 235px); transform: translate(575px, 235px);}
    78%{  -webkit-transform: translate(575px, 235px);  transform: translate(575px, 235px);}
    80%{-webkit-transform: translate(511px, 142px);transform: translate(511px, 142px)}
    82%{ -webkit-transform: translate(541px, 102px); transform: translate(541px, 102px);}
    84%{-webkit-transform: translate(583px, 75px);transform: translate(583px, 75px);}
    86%{-webkit-transform: translate(610px, 25px);transform: translate(610px, 25px);}
    88%{-webkit-transform: translate(645px, 0px);transform: translate(645px, 0px);}
    90%{-webkit-transform: translate(692px, 0px);transform: translate(692px, 0px);}
    92%{-webkit-transform: translate(666px, 70px);transform: translate(666px, 70px);}
    94%{ -webkit-transform: translate(750px, 20px); transform: translate(750px, 20px);}
    96%{-webkit-transform: translate(815px, 74px);transform: translate(815px, 74px);}
    98%{-webkit-transform: translate(870px, 44px);transform: translate(870px, 44px);}
    100%{-webkit-transform: translate(876px, 107px);transform: translate(876px, 107px);}
}
   