
body {
    position: relative;
    min-height: 1000px;
    min-width: 1000px;
    background: linear-gradient(to top, #006b60,#149484);
}
.map{
    position: relative;    
    margin: 0 auto;
    background: url('../image/map.png') center center/cover no-repeat;
    height: 605px;
    width: 980px;
}
.map .ladder{
    display: block;
    position: absolute;
    transform: translate(389px, 453px);
}
.map .flower{
    display: block;
    position: absolute;
    transform: translate(362px, 470px);
}
.map .way{
    display: block;
    position: absolute;
    transform: translate(80px, 21px);
}
.map .button{
    position: relative;
    margin: 0 auto;
}
.map .button .button_noactive{
    width: 39px;
    height: 30px;
    background:url('../icons/button.png') center center/cover no-repeat;
    background-size: 21px 17px;
    position: absolute;
    outline: none;
    border: none;
    transform: translate(426px, 491px);
}
.map .button .position1{
    background:url('../icons/red.png') center center/cover no-repeat;
    background-size: 38px 34px;
}
.map .button .position2{
    
    transform: translate(334px, 463px);
}
.map .button .position3{
    
    transform: translate(245px, 514px);
}
.map .button .position4{

    transform: translate(169px, 524px);
    
}
.map .button .position5{
    
    transform: translate(91px, 493px);
}
.map .button .position6{

    transform: translate(119px, 377px);
    
}
.map .button .position7{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    transform: translate(106px, 430px);

    
}
.map .button .position8{

transform: translate(210px, 331px);
}
.map .button .position9{

    transform: translate(162px, 268px);
}
.map .button .position10{
    
    transform: translate(115px, 216px);
}
.map .button .position11{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    transform: translate(183px, 183px);
    
}
.map .button .position12{

    transform: translate(240px, 229px);
    
}
.map .button .position13{

    transform: translate(282px, 197px);
    
}
.map .button .position14{

    transform: translate(312px, 143px);
    
}
.map .button .position15{

    transform: translate(359px, 89px);
}
.map .button .position16{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    transform: translate(402px, 27px);
    
}
.map .button .position17{

    transform: translate(486px, 63px);
    
}
.map .button .position18{

    transform: translate(449px, 135px);
    
}
.map .button .position19{

    transform: translate(478px, 200px);
    
}
.map .button .position20{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    transform: translate(437px, 292px);
}
.map .button .position21{

    transform: translate(371px, 334px);
}
.map .button .position22{

    transform: translate(353px, 392px);
}
.map .button .position23{

    transform: translate(437px, 415px);
}
.map .button .position24{

    transform: translate(501px, 449px);
}
.map .button .position25{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    transform: translate(609px, 482px);
}
.map .button .position26{

    transform: translate(703px, 508px);
}
.map .button .position27{

    transform: translate(795px, 457px);
}
.map .button .position28{

    transform: translate(873px, 408px);
}
.map .button .position29{

    transform: translate(942px, 362px);
}
.map .button .position30{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    transform: translate(943px, 300px);
    
}
.map .button .position31{

    transform: translate(871px, 280px);
    
}
.map .button .position32{

    transform: translate(830px, 309px);
    
}
.map .button .position33{

    transform: translate(771px, 344px);
    
}
.map .button .position34{

    transform: translate(696px, 333px);
    
}
.map .button .position35{

    transform: translate(703px, 284px);
    
}
.map .button .position36{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;

    transform: translate(783px, 242px);
    
}
.map .button .position37{

    transform: translate(786px, 175px);
    
}
.map .button .position38{

    transform: translate(723px, 170px);
    
}
.map .button .position39{

    transform: translate(619px, 223px);
    
}
.map .button .position40{

    transform: translate(607px, 260px);
}
.map .button .position41{

    
    transform: translate(568px, 289px);
}
.map .button .position42{
    background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    transform: translate(511px, 280px);
}
.map .button .position43{

    transform: translate(502px, 195px);
}
.map .button .position44{

    transform: translate(532px, 154px);
}
.map .button .position45{

    transform: translate(573px, 127px);
}
.map .button .position46{

    transform: translate(601px, 74px);
}
.map .button .position47{
     background:url('../icons/button_red.png') center center/cover no-repeat;
    background-size: 21px 17px;
    transform: translate(636px, 16px);
}
.map .button .position48{

    transform: translate(683px, 50px);
}
.map .button .position49{

    transform: translate(657px, 124px);
}
.map .button .position50{

    transform: translate(742px, 70px);
}
.map .button .position51{

    transform: translate(806px, 126px);
}
.map .button .position52{

    transform: translate(862px, 92px);
}
.map .button .position53{
    background:url('../icons/blue.png') center center/cover no-repeat;
    background-size: 37px 36px;
    transform: translate(867px, 159px);
}
.map .button .male{
    position: absolute;
    z-index: 1;
    transform: translate(435px, 441px);
    transition: 1s;
}
.map .button .first{
    position: absolute;
    width: 161px;
    font-family: 'a_stamper-bold', Arial;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: red;
    transform: translate(362px, 495px) rotateX(45deg) rotate(-37deg);
    
}
.map .button .blue{
    color:#377895;
    transform: translate(835px, 145px) rotateX(45deg) rotate(-37deg);
}
    
